<!-- This will contain the form for creating a new student -->
<br/>
<h3>
	Create New Student
</h3>
<br/>
<form role="form" action='https://first-test-bmulla.c9users.io/students' method='post'>
	<div class="form-group">
			 
		<label for="andrewid">
			Andrew ID
		</label>
		<input type="text" class="form-control" id="andrewid" name="andrewid" />
	</div>
	<div class="form-group">
					 
		<label for="firstname">
			First Name
		</label>
		<input type="text" class="form-control" id="firstname" name="firstname" />
	</div>
		
	<div class="form-group">
					 
		<label for="lastname">
			Last Name
		</label>
		<input type="text" class="form-control" id="lastname" name="lastname" />
	</div>
		
	<div class="form-group">
					 
		<label for="major">
			Major
		</label>
		<input type="text" class="form-control" id="major" name="major" />
	</div>
		
	<div class="form-group">
					 
		<label for="email">
			Email
		</label>
		<input type="text" class="form-control" id="email" name="email" />
	</div>
		
	<div class="form-group">
					 
		<label for="status">
			Status
		</label>
		<select class="form-control" id="status" name="status" >
		  <option>Currently Enrolled</option>
          <option>Graduated</option>
        </select>
	</div>
		
	<button type="submit" class="btn btn-secondary">
		Submit
	</button>
</form>
<br/>


